.results{
    margin-top: 215px;
    width: 100%;
}

.results-contents{
    background: $color-main;
    color: #fff;
    width: calc(100% + 40px);
    margin-left: auto;
    padding: 60px;
    padding-right: 0;
    padding-top: 63px;

    @include mq('sp'){
        padding: 40px 16px;
        width: 100%;
    }
}

.results-title{
    text-align: left;

    @include mq('sp'){
        text-align: center;
    }
}

.swiper{
    width: 100%;
    height: 443px;
}

.swiper-slide{
    width: 400px;

    img{
        width: 400px;
    }
}

.swiper-slide-message{
    width: inherit;
    background: #fff;
    color: $color-main;
    padding: 16px;
}

.message-title{
    font-size: 20px;
    font-weight: bold;
}

.message-content{
    font-size: 16px;
    margin-top: 16px;
    line-height: calc(24/16);
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    width: 180px;
    height: 20px;

    @include mq('sp'){
        width: 100%;
    }
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background: #fff;
    margin: 0 10px;
    opacity: 1;

    &:first-child{
        margin-left: 2px;
    }

    &:last-child{
        margin-right: 0;
    }
}

.swiper-pagination-bullet-active{
    position: relative;
    transition: all 0.5s ease 0s;
    
    &::after{
        content: "";
        width: 20px;
        height: 20px;
        border: solid 1px #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        border-radius: 50%;
    }
}

.results-more-btn{
    a{
        display: block;
        width: 290px;
        height: 64px;
        text-align: center;
        line-height: 64px;
        border: 1px solid #fff;
        margin-top: 28px;
        background: $color-main;
        color: #fff;
        transition: all 0.5s ease 0s;
        font-size: 20px;
        letter-spacing: 4px;

        @include mq('sp'){
            margin: 0 auto;
            margin-top: 24px;
        }

        &:hover{
            color: $color-main;
            background: #fff;
        }
    }
}